@model GESTIONCOVOITURES.Models.Trajet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trajet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VilleDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VilleDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VilleArrivee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VilleArrivee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombreplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreplace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombreplacereserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreplacereserve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
    </dl>
</div>
<div>
    |
    <a asp-action="Index">Retour à la Liste</a>
</div>
