@model IEnumerable<GESTIONCOVOITURES.Models.Trajet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VilleDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleArrivee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombreplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombreplacereserve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VilleDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleArrivee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombreplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombreplacereserve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
